
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}
.example-container {
  width: 200px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.example-form-field {
  width: 200px;
}

.example-full-width{
    margin:0.5%;
}
.mat-drawer-container {
  box-shadow: 0 0 5px 0px black;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}
.card-title {
  margin-bottom: .75rem;
  text-align: -webkit-center;
}
