/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.ControlBox {
  margin: 26px;
  display: inline-block;
  background-color: rgb(242 242 242);
  width: 250px;
  border: 2px solid;
  height: 300px;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  position: relative;
  /* left: 25px; */
  padding-top: 20px;
}
.buttonON {
  background-color: #b73a3a;
  color: white;
  bottom: 20px;
  position: absolute;
  left: 25%;
  width: 50%;
  border: none;
  border-radius: 25px;
}
