.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-form-field {
  width: 100%;
}
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.loginRegister {
  width: 46%;
  border-radius: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 2%;
  margin: 2%;
  box-shadow: 0 0 5px 1px black;
}
.login_btn {
  min-width: 40%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
.form{
    margin-left:auto;
    margin-right:auto;
    max-width:50%;
}
@media (min-width: 575px) and (max-width: 1000px) {
  .form {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
}

@media (max-width: 575px) {

  .form {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
