<mat-tab-group mat-align-tabs="center" style=" transition: 5s;">
  <mat-tab label="Add parameter" style="display:inline-block;">
    <div class="mat-tab-group" style=" margin-top: 10%; margin-bottom: 10%;">
      <form class="example-form" style=" display: grid;">
        <mat-form-field class="example-full-width mar">
          <mat-label>Name</mat-label>
          <input #addName matInput id="name" placeholder="Name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width mar">
          <mat-label>Topic</mat-label>
          <input #addTopic matInput id="topic" placeholder="topic/" value="">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let respons of response" [value]="respons.topic">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> 
      </form>
      <mat-form-field #addDeviceId appearance="fill" class="mar" style="border-radius: 4px !important; margin-left: auto !important; margin-right: auto !important; width: 100%;">
        <mat-label>Select device</mat-label>
        <mat-select>
          <mat-option  *ngFor="let device of response" value="{{device.id}}">{{device.id}}:{{device.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-button-toggle-group #addtype="matButtonToggleGroup" style="border-radius: 4px !important; margin-left: auto !important; margin-right: auto !important; width: 100%; display:inline-block;">
        <mat-button-toggle value="button" aria-label="Text align left" style=" width: 50%; display:inline-block;">
          <mat-icon><mat-icon>toggle_on</mat-icon></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="slider" aria-label="Text align center" style=" width: 50%; display:inline-block;">
          <mat-icon><mat-icon>swipe</mat-icon></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <!--      <div class="example-selected-value">Selected value: {{group.value}}</div>-->
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button (click)="Add(addName.value, addTopic.value, addtype.value, addDeviceId.value)">Save</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Add device">
    <div style=" margin-top: 10%; margin-bottom: 10%;">
      <form class="example-form" style=" display: grid;">
        <mat-form-field class="example-full-width mar">
          <mat-label>Name</mat-label>
          <input #addDeviceName matInput id="nameDevice" placeholder="Name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width mar">
          <mat-label>Topic</mat-label>
          <input #addDeviceTopic matInput id="topicDevice" placeholder="topic/" value="">
        </mat-form-field>
      </form>
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button (click)="AddDevice(addDeviceName.value, addDeviceTopic.value )">Save</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
