<mat-card dynamicHeight *ngFor="let responses of response" style=" margin-bottom: 3%;">

  <mat-card-title>{{responses.name}}</mat-card-title>
    <mat-tab-group dynamicHeight mat-align-tabs="center" >
      <mat-tab label="Control">
        <button *ngFor="let parameter of responses.parameters" class="example-small-box mat-elevation-z4" (click)="OnOff(parameter.topic, parameter.data, parameter.type)">
          <img *ngIf="parameter.data == '1'" class="lamp_img" src="{{baseUrl}}images/LampOn2.jpg" alt="Alternate Text" />
          <img *ngIf="parameter.data == '0'" class="lamp_img" src="{{baseUrl}}images/LampOff2.jpg" alt="Alternate Text" />
          <div class="lamp_btn_text">
            {{parameter.name}}

          </div>
        </button>
      </mat-tab>
      <mat-tab label="Info">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{responses.name}}</mat-card-title>
            <mat-card-subtitle>Id: {{responses.id}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              IP: <a href="http://{{responses.ip}}/">{{responses.ip}}</a>
            </p>
            <p>
              Mac: {{responses.mac}}
            </p>
            <p class="rssi">
              <mat-icon *ngIf="responses.rssi > -60">signal_cellular_4_bar</mat-icon>
              <mat-icon *ngIf="responses.rssi < -60">signal_cellular_connected_no_internet_4_bar</mat-icon>
            </p>
            <p>
              UpTime: {{responses.uptime}}s
            </p>
            <p>
              Topic: {{responses.topic}}
            </p>
            <p>
              Free memory: {{responses.freeMem}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Settings">
        <div class="example-large-box mat-elevation-z4">
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>topic</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
</mat-card>







  <!--
  <p *ngIf="!response"><em><div class="spinner-grow text-warning"></div></em></p>
  <mat-drawer-container *ngFor="let responses of response" class="card d-inline-block m-2" style="width:300px; height:430px;" aria-setsize="100%">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px; height: 430px;">
      <h1 style="text-align: center;">{{responses.id}}</h1>
      <mat-form-field class="example-form-field" style="width:100%;">
        <mat-label>Name</mat-label>
        <input matInput id="{{responses.id}}name" type="text" value="{{responses.name}}">
      </mat-form-field>
      <mat-form-field class="example-form-field" style="width:100%;">
        <mat-label>Topic</mat-label>
        <input matInput disabled id="{{responses.id}}topic" type="text" value="{{responses.topic}}">
      </mat-form-field>
      <mat-form-field appearance="fill" style="width:100%;">
        <mat-label>Device</mat-label>
        <mat-select>
          <mat-option *ngFor="let respons of response" id="{{respons.id}}select" value="{{respons.id}}">{{respons.id}}:{{respons.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select control type</mat-label>
        <mat-select [(value)]="type">
          <mat-option>None</mat-option>
          <mat-option value="button">Button</mat-option>
          <mat-option value="slider">Slider</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="Update(responses.id)" mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="bottom: 0px; right: 0px;margin: 5%; position: absolute;">
        <mat-icon>save</mat-icon>
      </button>
      <button (click)="Delete(responses.id)" mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="bottom: 0px; left:40%; margin: 5%; position: absolute;">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="drawer.toggle()" mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="bottom: 0px; left: 0px;margin: 5%; position: absolute;">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div class="card d-inline-block h-100 w-100" style="width:500px">
        <img *ngIf="responses.data == '0'" class="card-img-top" src="{{baseUrl}}images/LampOff2.jpg" alt="Card image">
        <img *ngIf="responses.data == '1'" class="card-img-top" src="{{baseUrl}}images/LampOn2.jpg" alt="Card image">
        <img *ngIf="responses.data != '0' && responses.data != '1'" class="card-img-top" src="{{baseUrl}}images/Offline.png" alt="Card image">
        <div class="card-body" style="border-top: 5px solid;">
          <h4 class="card-title">{{responses.name}}</h4>
          <p class="card-text" style="top: 100%; position: sticky;"></p>
          <button (click)="drawer.toggle()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>settings</mat-icon>
          </button>
          <button *ngIf="responses.type == 'button'" (click)="OnOff(responses.topic, responses.data, responses.type)" class="lamp_btn" mat-raised-button>
            <div *ngIf="responses.data == '0'">
              On
            </div>
            <div *ngIf="responses.data == '1'">
              off
            </div>
          </button>

          <mat-slider *ngIf="responses.type == 'slider'" (click)="OnOff(responses.topic, responses.data, responses.type)"
                      min="0" max="255" step="10" value="responses.data"></mat-slider>

        </div>
      </div>
    </div>
  </mat-drawer-container>
    -->
  <button mat-fab color="primary" aria-label="Example icon button with a vertical three dot icon" (click)="openDialog()" style="    background-color: #343a40; bottom: 0px;
    right: 0px;
    position: fixed;
    margin: 2%;">
    <mat-icon>add_circle</mat-icon>
  </button>
