.lamp_btn {
  width: 100%;
  height:100%;

  display: inline-block;
}
.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 0px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
  border: none;
  background-size: cover;
  align-items: end;
  justify-content: center;
  display: inline-block;
}

.example-large-box {
  height: 300px;
  width: 300px;
}
.example-card {
  max-width: 345px;
  margin: 2%;
}

.example-header-image {
  background-image: url('http://domoticx.com/wp-content/uploads/2015/12/Espressif-logo.png');
  background-size: cover;
}
.rssi {
  top: 0px;
  right: 0px;
  margin: 4%;
  position: absolute;
}
.lamp_img {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-size: cover;
}
.lamp_btn_text{
    color:white;
    position:fixed;
}

.mar {
  max-width: 48%;
  display: block;
  margin: 3%;
}
.example-selected-value {
  margin: 15px 0;
}
#button-toggle-group {
  border-radius: 4px!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
