<h1 id="tableLabel">Buttons</h1>
<p *ngIf="!response"><em><div class="spinner-grow text-warning"></div></em></p>

<div *ngFor="let responses of response" class="card d-inline-block h-25 w-25 m-2" style="width:500px">
  <img class="card-img-top" src="https://media.gettyimages.com/vectors/light-bulb-icon-vector-id1135547096?k=6&m=1135547096&s=612x612&w=0&h=TJL7GfdIobWwtscGfDV6Kzs9FS9pCq3x5Z7bSnXHQ_Y=" alt="Card image">
  <div class="card-body" style="border-top: 5px solid;">
    <h4 class="card-title">{{ responses.name }}</h4>
    <p class="card-text" style="top: 100%; position: sticky;"></p>
    <button class="btn btn-dark" (click)="OnOff2(responses.topic)" style="position: sticky; left: 100%; width: 50%;">
        <p *ngIf="responses.data == 1" style="margin-bottom: 0rem;">
            Turn Off
          </p>
          <p *ngIf="responses.data == 0" style="margin-bottom: 0rem;">
            Turn On
          </p>
    </button>
  </div>
</div>
