<h1 id="tableLabel">Prameters</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!response"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="response">
  <thead>
    <tr>
      <th>Id</th>
      <th>DeviseId</th>
      <th>Name</th>
      <th>Topic</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let responses of response">
      <td>{{ responses.id }}</td>
      <td>{{ responses.deviseId }}</td>
      <td>{{ responses.name }}</td>
      <td>{{ responses.topic }}</td>
      <td>{{ responses.data }}</td>
    </tr>
  </tbody>
</table>

<div class="Buttons">

  <div *ngFor="let responses of response" class="ControlBox">
    {{ responses.name }}
    State:{{responses.data}}
    <button class="buttonON" (click)="OnOff2(responses.topic)">{{ responses.data }}</button>
  </div>
</div>
