.ControlBox {
  background-color: rgba(0,0,0,.075);
  width: 250px;
  height: 300px;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  padding: 15px;
  padding-top: 20px;
}

.ButtonOn {

  background-color: black;
  color: white;
  bottom: 20px;
  position: inherit;
  left: 30%;
  width: 40%;
  border-radius: 25px;
}
