<h1 id="tableLabel">Settings</h1>

<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="!response"><em><div class="spinner-grow text-warning"></div></em></p>
<table class='table table-dark table-striped' aria-labelledby="tableLabel" *ngIf="response">
  <thead>
    <tr>
      <th>DeviseId</th>
      <th>Name</th>
      <th>Topic</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let responses of response">
      <td>
        <div class="form-group">
          <label for="sel1"></label>
          <select class="form-control form-control-sm" id="{{responses.id}}deviceid">
            <option value="{{responses.id}}">{{response.name}}</option>
            <option *ngFor="let responsess of response" value="{{responsess.id}}">{{responsess.name}}</option>
          </select>
        </div>
      </td>
      <td><input id="{{responses.id}}name" type="text" name="name" value="{{responses.name}}" /></td>
      <td><input id="{{responses.id}}topic" type="text" name="topic" value="{{responses.topic}}" /></td>
      <td><input id="{{responses.id}}data" type="text" name="data" value="{{responses.data}}" /></td>
      <td> <input type="submit" value="Update" (click)="Update(responses.id)"></td>
      <td> <input type="submit" value="Delete" (click)="Delete(responses.id)"></td>
    </tr>
  </tbody>
</table>
Add Device
<table class='table table-dark table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>DeviseId</th>
      <th>Name</th>
      <th>Topic</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input id="adddeviseId" type="text" name="deviseId" value="deviseId" /></td>
      <td><input id="addname" type="text" name="name" value="name" /></td>
      <td><input id="addtopic" type="text" name="topic" value="topic" /></td>
      <td> <input type="submit" value="Update" (click)="Add('add')"></td>
    </tr>
  </tbody>
</table>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<mat-list>
  <mat-list-item> Pepper </mat-list-item>
  <mat-list-item> Salt </mat-list-item>
  <mat-list-item> Paprika </mat-list-item>
 </mat-list>